#-----Ignore everything

*

#-----!Except these

!cyber-dojo
!cyber-dojo.sh
!cyber-dojo.rb

!Dockerfile.katas
!Dockerignore.katas

!.env
!docker-compose.yml
!grafana.env

!start_point_check.rb
!start_point_checker.rb
!start_point_inspect.rb
!start_point_pull.rb
!start_point_latest.rb

!test/rb

