#-----Ignore everything

*

#-----!Except these

!Gemfile

!cyber-dojo*
!cmd-start-point/*
!cmd-server/*
!cmd-service/*

!Dockerfile.katas
!Dockerignore.katas

!.env
!docker-compose.yml
!defaults.env/*
!start_point_*.rb
!test/rb
