#-----Ignore everything

*

#-----!Except these

!Gemfile
!cyber-dojo
!cmd/*
!docker-compose.yml
!docker-compose.cpu-shares.yml
!docker-compose.depends-on.yml
!docker-compose.env-files.yml
!docker-compose.images.yml
!docker-compose.mem-limits.yml
!docker-compose.volumes.yml
!defaults.env/*
!test/rb
!.env
